repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: check-yaml
        exclude: ^example/
      - id: end-of-file-fixer
        exclude: ^example/
      - id: trailing-whitespace
        exclude: ^example/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.2"
    hooks:
      - id: ruff
        exclude: ^example/
        args: ["--fix"]
      - id: ruff-format
        exclude: ^example/
  - repo: https://github.com/facebook/pyrefly-pre-commit
    rev: "0.53.0"
    hooks:
      - id: pyrefly-check
        exclude: ^example/
        pass_filenames: false
