[tool.poetry]
authors = ["卍diohabara卍 <diohabara@gmail.com>"]
description = "The ChatGPT-powered Python decompiler provided superior code analysis capabilities"
keywords = ["decompiler", "python", "poetry", "bytecode"]
license = "MIT"
name = "pychd"
packages = [{include = "src/pychd"}]
readme = "README.md"
repository = "https://github.com/diohabara/pychd"
version = "0.1.1"

[tool.poetry.dependencies]
openai = "^0.27.4"
pytest = "^7.3.1"
python = ">=3.8, <3.11"
pytype = "^2023.4.18"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
isort = "^5.12.0"
mypy = "^1.2.0"
mypy-extensions = "^1.0.0"
pre-commit = "^3.2.2"
pytest = "^7.3.1"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.poetry.scripts]
pychd = "src.pychd.main:cli"
